[user]
	email = paul.joshy@ideaplunge.in
	name = Paul Joshy
[alias]
	st = status --short
	l = log
	a = add
	c = commit
	ch = checkout
	cb = checkout -b
	cp = checkout -p
	ps = push
	pl = pull
	b = branch
	d = diff
	dc = diff --cached
