[user]
	email = paul.joshy@ideaplunge.in
	name = Paul Joshy
[alias]
	st = status --short
	l = log
	a = add *
	c = commit -m
	ch = checkout
	cb = checkout -b
	cp = checkout -p
	ps = push
	pl = pull
	b = branch
	d = diff
	dc = diff --cached
	ignore = update-index --assume-unchanged
	skip = update-index --skip-worktree
	store = config credential.helper store
	rsh = reset --hard HEAD
[merge]
	tool = meld
[mergetool "vscode"]
	 cmd = code --wait $MERGED
[diff]
	tool = meld
[difftool "vscode"]
	cms = code --wait --diff $LOCAL $REMOTE
[core]
	autocrlf = input
