!------------------------------
! Font and ligature support
!------------------------------
XTerm*faceName: CodeNewRoman Nerd Font
XTerm*faceSize: 11
XTerm*renderFont: true
XTerm*utf8: 2
XTerm*allowBoldFonts: true

! Enable font scaling with Ctrl + Plus/Minus
XTerm.VT100.translations: #override \
  Ctrl <Key>plus:       larger-vt-font() \n\
  Ctrl <Key>KP_Add:     larger-vt-font() \n\
  Ctrl <Key>minus:      smaller-vt-font() \n\
  Ctrl <Key>KP_Subtract:smaller-vt-font()

!------------------------------
! Catppuccin Mocha Theme
!------------------------------
*.foreground:   #cdd6f4
*.background:   #1e1e2e
*.cursorColor:  #f5e0dc

*.color0:       #45475a
*.color1:       #f38ba8
*.color2:       #a6e3a1
*.color3:       #f9e2af
*.color4:       #89b4fa
*.color5:       #f5c2e7
*.color6:       #94e2d5
*.color7:       #bac2de
*.color8:       #585b70
*.color9:       #f38ba8
*.color10:      #a6e3a1
*.color11:      #f9e2af
*.color12:      #89b4fa
*.color13:      #f5c2e7
*.color14:      #94e2d5
*.color15:      #a6adc8

!------------------------------
! Scrollbar, bell, etc
!------------------------------
XTerm*scrollBar: false
XTerm*bellIsUrgent: true
XTerm*visualBell: true
XTerm*urgentOnBell: true
XTerm*saveLines: 10000

! Prevent focus stealing
XTerm*pointerBlank: true

